services:
  postgres:
    image: 'postgres:16.0'
    environment:
      - 'POSTGRES_DB=paladin-dev-db'
      - 'POSTGRES_PASSWORD=${DB_PASSWORD}'
      - 'POSTGRES_USER=${DB_USERNAME}'
    ports:
      - '5432:5432'
    volumes:
      - ./postgres-data:/var/lib/postgresql/data