# fly.toml app configuration file generated for paladin-be-8eieva on 2025-10-02T10:33:15Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'paladin-be-8eieva'
primary_region = 'jnb'

[build]

[env]
SPRING_PROFILES_ACTIVE = "prod"
PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[http_service.concurrency]
  type = "requests"
  soft_limit = 200
  hard_limit = 250

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
